.content
{
    .content-thumbnail
    {
        background: url('../img/backdrop.jpg') no-repeat center;
        background-size: cover;
        padding: 240px 0px;
    }

    .content-content
    {
        padding: 60px 0px 80px 0px;
    }
}
