<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error facere, ipsum dolorem nihil odit nostrum consequatur deleniti cumque expedita obcaecati porro mollitia aspernatur itaque quaerat numquam ad culpa soluta ducimus.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error facere, ipsum dolorem nihil odit nostrum consequatur deleniti cumque expedita obcaecati porro mollitia aspernatur itaque quaerat numquam ad culpa soluta ducimus.</p>

    {% if value %}
        oui
    {% else %}
        non
    {% endif %}
</body>
</html>