{{ include('partials/header.twig') }}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nihil alias itaque error id nesciunt deserunt cum, delectus odit ratione laboriosam facilis dolores quaerat dicta, repellat repellendus illo aspernatur fugiat!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, voluptas quaerat quibusdam reprehenderit minus debitis facilis, impedit nesciunt fugit ipsum saepe blanditiis consequatur corrupti! Minima quisquam obcaecati vero animi officia?</p>

<div>
    <a href="{{ path_for('promotions') }}">Promotions</a>
</div>

<div>
    <a href="{{ path_for('random_student') }}">Random student</a>
</div>

{{ include('partials/footer.twig') }}