<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HETIC Students</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container text-center">
        <h1><a href="{{ path_for('home') }}">HETIC Students</a></h1>