/*
********** $Imports
*/
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


/*
********** $Variables
*/
$main-color : #1da1f2;
$white : #fefefe;
$transition : all 0.3s ease-in-out;




/*
********** $base
*/
body,
html {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-family: 'Helvetica','Arial', sans-serif;
    -webkit-user-select:none;
}

body {
    background: #f9f9f9;
}





/*
********** $Player
*/
.player {
    width: 850px;
    height: 478px;
    margin: 50px auto;
    background: black;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;



    /*
    ********** $Canvas
    */
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        transform: scale(1.2);
        -webkit-filter: blur(25px);
        opacity: 0;
        z-index: -1;
    }

    /*
    ********** $Title
    */
    .title {
        position: absolute;
        top: 20px;
        left: 30px;
        color: $white;
        text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.8);
        font-family: 'Open sans', arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        opacity: 1;
        transform: translateX(0%);
        will-change: transform;
        transition: $transition;

    }


    /*
    ********** $Ambilight
    */
    .toggle-ambilight {
        position: absolute;
        top: 20px;
        right: 30px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        opacity: 1;
        transform: translateY(0%);
        will-change: transform;
        transition: $transition;

        svg {
            fill:$white;
            width: 20px;
            height: auto;
            transition: $transition;
        }

        &:hover svg {
            fill: $main-color;
        }
    }


    .controls-linear-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.26) 38%,rgba(0,0,0,0.60) 94%,rgba(0,0,0,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
    }


    video {
        width: 100%;
        height: auto;
        cursor: pointer;

    }



    /*
    ********** $Controls
    */
    .controls {
        position: absolute;
        transform: translateY(0%);
        opacity: 1;
        bottom: 20px;
        height: 40px;
        width: 100%;
        transition: all 0.2s ease-in-out;
        z-index: 2147483647;


        .controls-container {
            width: 100%;
            height: 100%;
            position: relative;


            /*
            ********** $toggle-play
            */
            .toggle-play {
                display: inline-block;
                width: 40px;
                height: 100%;
                margin-left: 20px;
                position: relative;
                cursor: pointer;


                /*
                ********** $play button
                */
                .play {
                    position: absolute;
                    opacity: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-10px, -10px);
                    transition: $transition;

                    svg {
                        height: 20px;
                        width: auto;
                        fill: $white;
                    }

                    &:hover svg {
                        fill: $main-color;
                        transition: $transition;

                    }
                }


                /*
                ********** $pause button
                */
                .pause {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-10px,12px);
                    transition: $transition;

                    svg {
                        height: 20px;
                        width: auto;
                        fill: $white;
                    }

                    &:hover svg {
                        fill: $main-color;
                        transition: $transition;
                    }
                }
            }




            /*
            ********** $timer / timer-total
            */
            .timer {
                display: inline-block;
                width: 60px;
                height: 100%;
                margin-left: 15px;
                font-size: 12px;
                position: relative;


                /*
                ********** $timer container
                */
                .timer-container {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-6px);

                    span {
                        color: rgba(255, 255, 255, 0.55);
                    }

                    .time-progress {
                        display: inline-block;
                        color: rgba(255, 255, 255, 0.9);
                    }

                    .time-total {
                        display: inline-block;
                        color: rgba(255, 255, 255, 0.55);
                    }
                }
            }




            /*
            ********** $timeline
            */
            .timeline {
                display: inline-block;
                width: 480px;
                height: 100%;
                margin-left: 10px;
                position: relative;
                cursor: pointer;


                /*
                ********** $timeline container
                */
                .timeline-container {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 4px;
                    width: 480px;
                    background-color: rgba(255, 255, 255, 0.4);
                    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.8);
                    -webkit-border-radius: 3px;

                    .thumbnails-timer {
                        position: relative;
                        top: -20px;
                        font-size: 20px;

                    }


                    /*
                    ********** $thumbnails
                    */
                    .thumbnails {
                        display: none;
                        width: 109px;
                        height:62px;
                        position: absolute;
                        bottom: 20px;
                        left: -58px;
                        transform-origin: bottom center;
                        will-change: transform;
                        // border: 2px solid rgba(255, 255, 255, 0.4);
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);

                        &:after {
                            content:"";
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid rgba(255, 255, 255, 0.4);
                            position: absolute;
                            bottom: -12px;
                            left: 50%;
                            transform: translateX(-10px);
                        }


                        /*
                        ********** $thumbnails timer
                        */
                        .thumbnails-timer {
                            position: absolute;
                            bottom: 5px;
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.9);
                        }

                    }


                    /*
                    ***** $timeline-progress
                    */
                    .timeline-progress {
                        height: 100%;
                        background: $main-color;
                        // box-shadow: 0px 0.5px 0.5px 0px rgba(29,161,242,0.5);
                        -webkit-box-shadow: inset 0px 1px 2px 0px rgba(27,141,209,1);
                        -webkit-border-radius: 3px;
                        transform: scaleX(0.5);
                        transform-origin: 0 0;
                        will-change: transform;
                    }
                }

                &:hover .thumbnails {
                    display: block;
                }
            }




            /*
            ********** $volume
            */
            .volume {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 100%;
                margin-left: 20px;
                cursor: pointer;


                .volume-button {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-9px);

                    svg {
                        height: 20px;
                        width: auto;
                        fill: $white;
                    }

                    &:hover svg {
                        fill: $main-color;
                    }

                    .volume-mute {
                        display: none;
                    }
                    .volume-high {
                        display: block;
                    }
                }

            }




            /*
            ********** $volume bar
            */
            .volume-bar {
                display: inline-block;
                position: relative;
                bottom: 17px;
                height: 4px;
                width: 60px;
                background-color: rgba(255, 255, 255, 0.4);
                -webkit-border-radius: 3px;
                cursor: pointer;

                .volume-progress {
                    height: 100%;
                    background: $main-color;
                    // box-shadow: 0px 0.5px 0.5px 0px rgba(29,161,242,0.5);
                    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(27,141,209,1);
                    transform: scaleX(0);
                    transform-origin: 0 0;
                    will-change: transform;
                    -webkit-border-radius: 3px;
                }
            }




            /*
            ********** $fullscreen
            */
            .toggle-fullscreen {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 100%;
                margin-left: 10px;


                /*
                ********** $extend button
                */
                .extend {
                    position: absolute;
                    opacity: 1;
                    top: 50%;
                    left: 50%;
                    cursor: pointer;
                    transform: translate(-10px, -10px);
                    transition: $transition;

                    svg {
                        height: 20px;
                        width: auto;
                        fill: $white;
                    }

                    &:hover svg {
                        fill: $main-color;
                        transition: $transition;

                    }

                }


                /*
                ********** $reduce button
                */
                .reduce {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    cursor: pointer;
                    transform: translate(-10px,12px);
                    transition: $transition;

                    svg {
                        height: 20px;
                        width: auto;
                        fill: $white;
                    }

                    &:hover svg {
                        fill: $main-color;
                        transition: $transition;
                    }
                }
            }
        }
    }
}





/*
********** $mouse-moving class
*/
.player.mouse-moving {

    .controls {
        transform: translateY(120%);
        opacity: 0;
    }


    .toggle-ambilight {
        transform: translateY(-120%);
        opacity: 0;
    }

    .title {
        transform: translateX(-130%);
        opacity: 0;
    }
}




/*
***** $is-playing class
*/
.player.is-playing {

    .controls {

        .controls-container {

            .toggle-play {

                .play {
                    opacity: 0;
                    transform: translate(-10px, -40px);
                    transition: $transition;
                }
                .pause {
                    opacity: 1;
                    transform: translate(-10px, -10px);
                    transition: $transition;
                }
            }
        }
    }
}




/*
********** $full-screen
*/
.player.full-screen {

    .controls {

        .controls-container {

            .toggle-fullscreen {

                .extend {
                    opacity: 0;
                    transform: translate(-10px, -40px);
                    transition: $transition;
                }
                .reduce {
                    opacity: 1;
                    transform: translate(-10px, -10px);
                    transition: $transition;
                }
            }
        }
    }
}




/*
********** $mute player
*/
.player.mute {

    .controls {

        .controls-container {

            .volume {

                .volume-button {

                    .volume-mute {
                        display: block;
                    }

                    .volume-high {
                        display: none;
                    }
                }
            }
        }
    }
}




/*
********** $ambilight mode
*/
.player.ambilight-mode {

    overflow: visible;
    canvas {
        opacity: 0.65;
    }

    .toggle-ambilight {

        svg {
            fill: $main-color;
        }

        &:hover svg {
            fill : $white;
        }
    }
}




/*
********** $native controls remove
*/
*::-webkit-media-controls {
    display: none !Important;
}
