.shooter
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #fff 0%, #897a78 100%);
}

.shooter .score
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100vh;
    text-align: center;
    font-family: Helvetica, Arial;
    font-weight: bold;
    opacity: 0.2;
}

.shooter .score .value
{
    font-size: 20vh;
}

.shooter .score .label
{
    font-size: 10vh;
}

.shooter .target
{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 12vh;
    height: 12vh;
    background: #f5eded;
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.shooter .target::before
{
    content: '';
    position: absolute;
    top: calc(100% / 6);
    right: calc(100% / 6);
    bottom: calc(100% / 6);
    left: calc(100% / 6);
    background: #de0000;
    border-radius: 50px;
}

.shooter .target::after
{
    content: '';
    position: absolute;
    top: calc(100% / 6 * 2);
    right: calc(100% / 6 * 2);
    bottom: calc(100% / 6 * 2);
    left: calc(100% / 6 * 2);
    background: #f5eded;
    border-radius: 50px;
}