* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.divCanvas {
	position: absolute;
	background: #060606;
	height: 100%;
	width: 100%;
}

#canvas {
	position: absolute;
	height: 110%;
	bottom: 0;
	left: 0;
	right: 0;
	border-right: white 1px solid;
	border-left: white 1px solid;
	overflow-x: hidden; !important
	overflow-y: hidden; !important
}

#pause {
	position: absolute;
	top: 25px;
	left: 20px;
	width: 30px;
	height: 30px;
	display: block;
}

#play {
	position: absolute;
	top: 25px;
	left: 20px;
	width: 30px;
	height: 30px;
	display: none;
}

#score {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:20px;
	position: absolute;
	top: 28px;
	right: 10px;
	height:40px;
	width:200px;
	color:white;
	text-align: right;
}

.images {
	display: none;
	width: 0;
	height: 0;
}

#divEnd {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#07091F;
    background-attachment:fixed;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
	opacity: 0.8;
}

.divEnd {
	display: none;
}

/* FIN JEU */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin:auto;
}

body {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


/* INTERFACE */

a{
    text-decoration:none;
    color:white;
}

.header{
    position : absolute;
    height: 60px;
    top : 0;
    left : 0;
    right: 0;
}

#logo{
    height:25px;
    margin: auto;
    margin-top:30px;
    display:block;
}

.view{
    position: absolute;
    top:60px;
    bottom:165px;
    left:10px;
    right:10px;
}

.panel{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    /*overflow-y:hidden;*/
}

h1{
    color: white;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-weight:900;
    font-size:20px;
    margin-top:25px;

}

h2{
    color: white;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:10px;
    margin-top:10px;
}

/* CREDITS */

#thumbsup{
    display:block;
    margin:auto;
    height:30%;
    margin-top:100px;
}

#win{
    font-size:30px;
}

#credit{
    font-size:13px;
    margin-top:20px;
}

.nav{
    position : absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 165px;
}

.play{
    border: 2px solid rgba(255, 255, 255, .15);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 40px;
    background-color:#07091F;
    color:white;
    width:300px;
    height:60px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:30px;
    display:block;
    margin:auto;
    margin-top:10px;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.8;
    }
}

.transit {
	display: block;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
}
