.carousel
{
    position: relative;
    width: 600px;
    height: 400px;
    background: #cccccc;
    margin: 50px auto;
    perspective: 800px;
}

.carousel .items
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    animation-name: carousel-rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.carousel:hover .items
{
    animation-play-state: paused;
}

@keyframes carousel-rotation
{
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.carousel .item
{
    position: absolute;
    top: -100px;
    left: -100px;
    transform-style: preserve-3d;
}

.carousel .item img
{
    transition: transform 0.3s;
}

.carousel .item:hover img
{
    transform: translateZ(30px);
}

.carousel .item.index-1 { transform: rotateY(calc(360deg / 8 * 0)) translateZ(250px); }
.carousel .item.index-2 { transform: rotateY(calc(360deg / 8 * 1)) translateZ(250px); }
.carousel .item.index-3 { transform: rotateY(calc(360deg / 8 * 2)) translateZ(250px); }
.carousel .item.index-4 { transform: rotateY(calc(360deg / 8 * 3)) translateZ(250px); }
.carousel .item.index-5 { transform: rotateY(calc(360deg / 8 * 4)) translateZ(250px); }
.carousel .item.index-6 { transform: rotateY(calc(360deg / 8 * 5)) translateZ(250px); }
.carousel .item.index-7 { transform: rotateY(calc(360deg / 8 * 6)) translateZ(250px); }
.carousel .item.index-8 { transform: rotateY(calc(360deg / 8 * 7)) translateZ(250px); }

