{{ include('partials/header.twig') }}

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus sit, eligendi vitae quia aliquam at laborum consequatur adipisci exercitationem corrupti harum vero ducimus laboriosam rem odit repellendus omnis ab necessitatibus.</p>
<p>Eveniet delectus, ullam quod ab rerum id quos, praesentium earum ipsa, ipsum culpa sunt.</p>

<div>
    <a href="{{ path_for('promotions') }}">Promotions</a>
</div>
<div>
    <a href="{{ path_for('random_student') }}">Random student</a>
</div>

{{ include('partials/footer.twig') }}