body
{
    background: #33212b;
}

.drumkit .button
{
    display: inline-block;
    position: relative;
    width: 140px;
    height: 140px;
    margin: 15px;
    border-radius: 5px;
    background: radial-gradient(circle at center, orange 0%, #ff5000 100%);
    border: 1px solid #ff8f00;
    cursor: pointer;
}

.drumkit .button .title
{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-family: Helvetica, Arial;
    font-size: 11px;
    color: #fff888;
    opacity: 0.65;
}
