@import "compass/reset";

$primary-color : #C3CABE;
$secondary-color : #B3BBAC;
$line-color : #7C8976;
$red : #994D43;
$black : #4D4D4D;

body {
  perspective: 800px;
}

img {
  position: relative;
  z-index: -1;
  display: none;
}

.background {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient( 45deg, #000927, #010613);
}

.falcon {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 10;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: translation;
  @-webkit-keyframes translation {
    0%   {transform: translateY(-30px) rotateX(-10deg) scale(0.8);}
    50%  {transform: translateY(30px) rotateX(10deg);}
    100% {transform: translateY(-30px) rotateX(-10deg) scale(0.8);}
  }
  &--topleft {
    height: 150px;
    width: 150px;
    z-index: 1;
    background-color: $primary-color;
    border-radius: 0 0 150px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(-189deg);
  }
  &--topright {
    height: 150px;
    width: 150px;
    z-index: 1;
    background-color: $primary-color;
    border-radius: 0 0 150px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(-78deg);
  }
  &--bottomleft {
    height: 150px;
    width: 150px;
    z-index: 1;
    background-color: $primary-color;
    border-radius: 0 0 150px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(-258deg);
  }
  &--bottomright {
    height: 150px;
    width: 150px;
    z-index: 1;
    background-color: $primary-color;
    border-radius: 0 0 150px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(-9deg);
  }
  &--line {
    height: 200px;
    width: 200px;
    border: 3px solid $line-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -103px;
    margin-top: -103px;
    z-index: 1;
    &--1 {
      height: 230px;
      width: 230px;
      border: 3px solid $line-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -118px;
      margin-top: -118px;
      z-index: 1;
    }
    &--2 {
      height: 260px;
      width: 260px;
      border: 3px solid $line-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -133px;
      margin-top: -133px;
      z-index: 1;
    }
    &--3 {
      height: 350px;
      width: 100px;
      position: absolute;
      top: 50%;
      left: 260px;
      margin-top: -175px;
      z-index: 1;
      overflow: hidden;
      &::after {
        content: '';
        display: block;
        height: 290px;
        width: 290px;
        border: 3px solid $line-color;
        border-radius: 50%;
        position: absolute;
        right: 65px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }
  &--square {
    position: relative;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    &--1 {
      position: absolute;
      width: 10px;
      height: 20px;
      background-color: $red;
      top: 50%;
      left: 50%;
      transform: rotate(30deg) translateX(80px) rotate(5deg);
      z-index: 20;
    }
    &--2 {
      position: absolute;
      width: 15px;
      height: 8px;
      background-color: $red;
      top: 50%;
      left: 50%;
      transform: rotate(130deg) translateX(90px) rotate(-5deg);
      z-index: 20;
    }
    &--3 {
      position: absolute;
      width: 10px;
      height: 20px;
      background-color: $red;
      top: 50%;
      left: 50%;
      transform: rotate(300deg) translateX(120px) rotate(5deg);
      z-index: 20;
    }
  }
  &--radar {
    height: 30px;
    width: 30px;
    background-color: $black;
    border: 2px solid $line-color;
    border-radius: 50%;
    position: absolute;
    right: 84px;
    top: 35px;
    z-index: 2;
    &::after {
      content: '';
      height: 40px;
      width: 20px;
      background-color: #747C6D;
      border-left: 3px solid #E3E6DC;
      border-radius: 50%;
      position: absolute;
      left: 12px;
      bottom: -8px;
      z-index: 2;
      transform: rotate(15deg);
    }
    &--line {
      height: 2px;
      width: 10px;
      background-color: $line-color;
      position: absolute;
      z-index: 2;
      top: 20px;
      left: 5px;
      transform: rotate(25deg);
      &::after {
        content: '';
        display: block;
        height: 2px;
        width: 10px;
        background-color: $line-color;
        position: absolute;
        bottom: 15px;
      }
    }
  }
  &--cabintop {
    position: absolute;
    left: 125px;
    top: 5px;
    border-bottom: 37px solid $secondary-color;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	height: 0;
  	width: 37px;
    &--1 {
      position: absolute;
      top: 20px;
      left: 129px;
      border-top: 100px solid $primary-color;
    	border-left: 16px solid transparent;
    	border-right: 16px solid transparent;
    	height: 0;
    	width: 17px;
      z-index: 3;
      &--triangleleft {
        position: absolute;
        position: absolute;
        top: -100px;
        left: -10px;
        border-style: solid;
        border-width: 0 8px 122px 0;
        transform: rotate(-5deg);
        border-color: transparent #D4D9CF transparent transparent;
      }
      &--triangleright {
        position: absolute;
        position: absolute;
        top: -100px;
        right: -11px;
        border-style: solid;
        border-width: 122px 8px 0 0;
        transform: rotate(5deg);
        border-color: #B2B6AA transparent transparent transparent;
      }
      &--square {
        position: absolute;
        top: -40px;
        left: 8px;
        height: 17px;
        width: 7px;
        background-color: $red;
      }
      &--cercle {
        position: absolute;
        top: -80px;
        left: 0px;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: $black;
        border: 2px solid $line-color;
      }
      &--line {
        position: absolute;
        top: -92px;
        left: 4px;
        height: 3px;
        width: 15px;
        background-color: $line-color;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 40px;
          left: -3px;
          height: 3px;
          width: 13px;
          background-color: $line-color;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 37px;
          left: -3px;
          height: 3px;
          width: 17px;
          background-color: $line-color;
          transform: rotate(90deg);
        }
      }
    }
  }
  &--cabincenter {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 130px solid $primary-color;
  	border-bottom: 8px solid transparent;
  	border-top: 8px solid transparent;
  	height: 35px;
  	width: 0;
    z-index: 3;
    &:before {
      content: '';
      display: block;
      width: 130px;
      height: 3px;
      background-color: #B2B6AA;
      position: absolute;
      top: -6px;
      left: -130px;
      transform: rotate(3deg);
    }
    &:after {
      content: '';
      display: block;
      width: 130px;
      height: 3px;
      background-color: #B2B6AA;
      position: absolute;
      bottom: -6px;
      left: -130px;
      transform: rotate(-3deg);
    }
    &--line {
      position: absolute;
      left: -155px;
      top: 15px;
      transform: rotate(90deg);
      border-bottom: 5px solid #D5DBD3;
    	border-left: 4px solid transparent;
    	border-right: 4px solid transparent;
    	height: 0;
    	width: 46px;
      z-index: 2;
      &--1 {
        position: absolute;
        left: -90px;
        top: 15px;
        background-color: $line-color;
      	height: 3px;
      	width: 45px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: -10px;
          top: -10px;
          background-color: $line-color;
          transform: rotate(2deg);
        	height: 3px;
        	width: 90px;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: -15px;
          bottom: -10px;
          background-color: $line-color;
          transform: rotate(-2deg);
        	height: 3px;
        	width: 80px;
        }
      }
      &--2 {
        position: absolute;
        left: -85px;
        top: 22px;
        background-color: $line-color;
      	height: 3px;
      	width: 20px;
        transform: rotate(90deg);
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: -11px;
          top: -60px;
          background-color: $line-color;
        	height: 3px;
        	width: 25px;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: -15px;
          bottom: -38px;
          background-color: $line-color;
        	height: 3px;
        	width: 13px;
        }
      }
    }
  }
  &--cabinbottom {
    position: absolute;
    left: 118px;
    bottom: 5px;
    border-top: 37px solid $secondary-color;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	height: 0;
  	width: 37px;
    &--1 {
      position: absolute;
      bottom: 20px;
      left: 122px;
      border-bottom: 100px solid $primary-color;
    	border-left: 16px solid transparent;
    	border-right: 16px solid transparent;
    	height: 0;
    	width: 17px;
      z-index: 3;
      &--triangleleft {
        position: absolute;
        position: absolute;
        top: -22px;
        left: -10px;
        border-style: solid;
        transform: rotate(5deg);
        border-width: 0 0 122px 8px;
        border-color: transparent transparent #D4D9CF transparent;
      }
      &--triangleright {
        position: absolute;
        position: absolute;
        top: -22px;
        right: -11px;
        border-style: solid;
        transform: rotate(-5deg);
        border-width: 122px 0 0 8px;
        border-color: transparent transparent transparent #B2B6AA;
      }
      &--square {
        position: absolute;
        bottom: -70px;
        left: 3px;
        height: 17px;
        width: 7px;
        background-color: $red;
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 25px;
          left: 6px;
          height: 10px;
          width: 5px;
          background-color: $red;
          transform: rotate(90deg);
        }
      }
      &--cercle {
        position: absolute;
        bottom: -33px;
        left: 2px;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: $black;
        border: 2px solid $line-color;
      }
      &--line {
        position: absolute;
        bottom: -85px;
        left: 4px;
        height: 3px;
        width: 15px;
        background-color: $line-color;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: -3px;
          height: 3px;
          width: 13px;
          background-color: $line-color;
        }
      }
    }
  }
  &--cabinpilot {
    position: absolute;
    right: 35px;
    top: 225px;
    border-left: 110px solid $primary-color;
  	border-bottom: 8px solid transparent;
  	border-top: 8px solid transparent;
  	height: 25px;
  	width: 0;
    z-index: 3;
    transform: rotate(-120deg);
    &:before {
      content: '';
      display: block;
      width: 110px;
      height: 6px;
      background-color: #D4D9CF;
      position: absolute;
      top: -6px;
      left: -110px;
      transform: rotate(3deg);
    }
    &:after {
      content: '';
      display: block;
      width: 90px;
      height: 6px;
      background-color: #B1B6AA;
      position: absolute;
      bottom: -6px;
      left: -90px;
      transform: rotate(-3deg);
    }
    &--line {
      position: absolute;
      left: -18px;
      top: 10px;
      transform: rotate(90deg);
      border-top: 5px solid #D4D9CF;
    	border-left: 6px solid transparent;
    	border-right: 6px solid transparent;
    	height: 0;
    	width: 20px;
      z-index: 2;
      &--1 {
        position: absolute;
        left: -90px;
        top: 15px;
        background-color: $line-color;
      	height: 3px;
      	width: 20px;
        transform: rotate(-2deg);
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: -8px;
          top: -10px;
          background-color: $line-color;
          transform: rotate(4deg);
        	height: 3px;
        	width: 88px;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 70px;
          bottom: -1px;
          background-color: $line-color;
          transform: rotate(92deg);
        	height: 3px;
        	width: 7px;
        }
      }
    }
    &--cockpit {
      position: absolute;
      left: -129px;
      top: 2px;
      background-color: $primary-color;
      height: 40px;
      width: 48px;
      transform: rotate(120deg);
      z-index: -1;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: #D4D9CF;
        height: 7px;
        width: 48px;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #B1B6AA;
        height: 5px;
        width: 27px;
      }
      &--line {
        position: absolute;
        left: 4px;
        bottom: 16px;
        background-color: $line-color;
      	height: 3px;
      	width: 20px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 5px;
          bottom: -6px;
          background-color: $line-color;
        	height: 3px;
        	width: 20px;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 30px;
          bottom: 7px;
          background-color: $line-color;
          transform: rotate(90deg);
        	height: 3px;
        	width: 13px;
        }
      }
    }
    &--canopy {
      position: absolute;
      left: -132px;
      top: 31px;
      transform: rotate(120deg);
      z-index: -1;
      border-left: 20px solid $primary-color;
    	border-bottom: 10px solid transparent;
    	border-top: 10px solid transparent;
    	height: 20px;
    	width: 0;
      &--window {
        position: absolute;
        top: 1px;
        right: 2px;
        border-left: 16px solid $black;
      	border-bottom: 6px solid transparent;
      	border-top: 6px solid transparent;
      	height: 6px;
        width: 0;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 11px;
          right: 0px;
        	height: 5px;
          width: 16px;
          background-color: $black;
          transform: skewY(-23deg);
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 11px;
          right: 0px;
        	height: 5px;
          width: 16px;
          background-color: $black;
          transform: skewY(23deg);
        }
      }
    }
  }
  &--centerback {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-color;
    border-radius: 50%;
    border: 3px solid $line-color;
    overflow: hidden;
    z-index: 1;
    &--square {
      height: 30px;
      width: 3px;
      background-color: $line-color;
      position: absolute;
      top: 0;
      left: 45px;
      transform: rotate(-33deg);
      &::before {
        content: '';
        display: block;
        height: 30px;
        width: 3px;
        background-color: $line-color;
        position: absolute;
        left: 70px;
        top: 40px;
        transform: rotate(60deg);
      }
      &::after {
        content: '';
        display: block;
        height: 30px;
        width: 3px;
        background-color: $line-color;
        position: absolute;
        left: -30px;
        top: 165px;
        transform: rotate(18deg);
      }
    }
    &--1 {
      height: 140px;
      width: 140px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary-color;
      border-radius: 50%;
      border: 3px solid $line-color;
      overflow: hidden;
      &--cercle {
        height: 92px;
        width: 92px;
        border-radius: 50%;
        border: 3px solid $line-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before {
          content: '';
          display: block;
          width: 25px;
          height: 3px;
          background-color: $line-color;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(-50deg) translateX(52px) rotate(10deg);
        }
        &::after {
          content: '';
          display: block;
          width: 25px;
          height: 3px;
          background-color: $line-color;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(126deg) translateX(66px) rotate(-8deg);
        }
      }
    }
  }
  &--center {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    border-radius: 50%;
    border: 5px solid $line-color;
    overflow: hidden;
    z-index: 3;
    &::after {
      content: '';
      display: block;
      width: 70px;
      height: 70px;
      position: absolute;
      top: 50%;
      left: 35px;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: $red;
    }
    &--1 {
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: $line-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--2 {
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid $primary-color;
      z-index: 1;
      &::before {
        content: '';
        display: block;
        width: 2px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        background-color: $primary-color;
      }
      &::after {
        content: '';
        display: block;
        width: 2px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $primary-color;
      }
    }
  }
  &--av--top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 180px;
    border-color: transparent transparent transparent $primary-color;
    position: absolute;
    top: 13px;
    left: 210px;
    z-index: 0;
    &::before {
      content: '';
      display: block;
      background-color: $line-color;
      height: 3px;
      width: 50px;
      position: absolute;
      left: -98px;
      top: -34px;
      z-index: 2;
      transform: rotate(29deg);
    }
    &::after {
      content: '';
      display: block;
      background-color: $line-color;
      height: 3px;
      width: 10px;
      position: absolute;
      left: -70px;
      top: -11px;
      z-index: 2;
      transform: rotate(17deg);
    }
    &--square {
      height: 18px;
      width: 55px;
      background-color: $primary-color;
      position: absolute;
      top: 0;
      left: -55px;
      &::after {
        content: '';
        display: block;
        background-color: $line-color;
        height: 3px;
        width: 45px;
        position: absolute;
        left: 5px;
        top: 13px;
        z-index: 2;
      }
      &--1 {
        content: '';
        display: block;
        background-color: $primary-color;
        height: 20px;
        width: 60px;
        position: absolute;
        top: -8px;
        left: -100px;
        transform: rotate(10deg);
        &::after {
          content: '';
          display: block;
          background-color: $line-color;
          height: 3px;
          width: 25px;
          position: absolute;
          left: 10px;
          top: 13px;
          z-index: 2;
        }
      }
    }
    &--cercle {
      background-color: $black;
      border: 2px solid $line-color;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      left: -90px;
      top: -25px;
      &::after {
        content: '';
        background-color: $black;
        border: 2px solid $line-color;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        left: 30px;
        top: 8px;
      }
    }
  }
  &--av--bottom {
    transform: rotateX(180deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 180px;
    border-color: transparent transparent transparent $primary-color;
    position: absolute;
    bottom: 13px;
    left: 210px;
    z-index: 0;
    &::before {
      content: '';
      display: block;
      background-color: $line-color;
      height: 3px;
      width: 50px;
      position: absolute;
      left: -98px;
      top: -34px;
      z-index: 2;
      transform: rotate(29deg);
    }
    &::after {
      content: '';
      display: block;
      background-color: $line-color;
      height: 3px;
      width: 10px;
      position: absolute;
      left: -70px;
      top: -11px;
      z-index: 2;
      transform: rotate(17deg);
    }
    &--square {
      height: 18px;
      width: 55px;
      background-color: $primary-color;
      position: absolute;
      top: 0;
      left: -55px;
      &::after {
        content: '';
        display: block;
        background-color: $line-color;
        height: 3px;
        width: 45px;
        position: absolute;
        left: 5px;
        top: 13px;
        z-index: 2;
      }
      &--1 {
        content: '';
        display: block;
        background-color: $primary-color;
        height: 20px;
        width: 60px;
        position: absolute;
        top: -8px;
        left: -100px;
        transform: rotate(10deg);
        &::after {
          content: '';
          display: block;
          background-color: $line-color;
          height: 3px;
          width: 25px;
          position: absolute;
          left: 10px;
          top: 13px;
          z-index: 2;
        }
      }
    }
    &--cercle {
      background-color: $black;
      border: 2px solid $line-color;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      left: -90px;
      top: -25px;
      &::after {
        content: '';
        background-color: $black;
        border: 2px solid $line-color;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        left: 30px;
        top: 8px;
      }
    }
  }
  &--ar {
    height: 155px;
    width: 155px;
    background-color: $primary-color;
    border-radius: 155px 0 0 0;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%) rotate(-45deg);
    z-index: 2;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      height: 181px;
      width: 10px;
      background-color: $primary-color;
      border-right: 3px solid $line-color;
      position: absolute;
      top: 0;
      right: 0;
    }
    &::after {
      content: '';
      display: block;
      height: 180px;
      width: 10px;
      background-color: $primary-color;
      border-left: 3px solid $line-color;
      position: absolute;
      top: 59px;
      right: 63px;
      transform: rotate(-90deg);
    }
    &--cercle {
      background-color: $black;
      border: 2px solid $line-color;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      transform: rotate(45deg);
      position: absolute;
      right: 40px;
      top: 93px;
      z-index: 2;
      &::after {
        content: '';
        background-color: $black;
        border: 2px solid $line-color;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        right: 30px;
        top: -2px;
      }
      &--1 {
        background-color: $black;
        border: 2px solid $line-color;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        right: 40px;
        top: 93px;
        transform: translateX(-15px) translateY(28px) rotate(15deg);
        z-index: 2;
        &::after {
          content: '';
          background-color: $black;
          border: 2px solid $line-color;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          right: 30px;
          top: -2px;
        }
      }
      &--2 {
        background-color: $black;
        border: 2px solid $line-color;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        right: 40px;
        top: 93px;
        transform: translateX(30px) translateY(-17px) rotate(75deg);
        z-index: 2;
        &::after {
          content: '';
          background-color: $black;
          border: 2px solid $line-color;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          right: 30px;
          top: -2px;
        }
      }
    }
    &--square {
      height: 20px;
      width: 10px;
      background-color: $red;
      transform: rotate(45deg) translateX(55px);
      position: relative;
      z-index: 2;
      &::before {
        content: '';
        display: block;
        height: 17px;
        width: 12px;
        background-color: $red;
        position: absolute;
        top: 70px;
        left: 22px;
        transform: rotate(-35deg);
      }
      &::after {
        content: '';
        display: block;
        height: 22px;
        width: 11px;
        background-color: $red;
        position: absolute;
        bottom: 85px;
        left: 30px;
        transform: rotate(35deg);
      }
    }
    &--line {
      height: 280px;
      width: 280px;
      border: 3px solid $line-color;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: -1;
      &::before {
        content: '';
        display: block;
        height: 255px;
        width: 255px;
        border: 3px solid $line-color;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 8px;
      }
      &::after {
        content: '';
        display: block;
        height: 225px;
        width: 225px;
        border: 3px solid $line-color;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: 20px;
      }
      &--1 {
        height: 200px;
        width: 200px;
        border: 3px solid $line-color;
        border-radius: 50%;
        position: absolute;
        top: 37px;
        left: 37px;
        z-index: -1;
        &::before {
          content: '';
          display: block;
          height: 140px;
          width: 140px;
          border: 3px solid $line-color;
          border-radius: 50%;
          position: absolute;
          top: 30px;
          left: 30px;
        }
        &::after {
          content: '';
          display: block;
          height: 15px;
          width: 3px;
          background-color: $line-color;
          position: absolute;
          top: 35px;
          left: 65px;
          transform: rotate(-30deg);
        }
      }
      &--2 {
        height: 15px;
        width: 3px;
        background-color: $line-color;
        position: absolute;
        bottom: 7px;
        left: 45px;
        z-index: 2;
        transform: rotate(-85deg);
        &::before {
          content: '';
          display: block;
          height: 15px;
          width: 3px;
          background-color: $line-color;
          position: absolute;
          z-index: 2;
          transform: translateY(-32px) translateX(3px);
        }
        &::after {
          content: '';
          display: block;
          height: 20px;
          width: 3px;
          background-color: $line-color;
          position: absolute;
          z-index: 2;
          transform: translateY(46px) translateX(90px) rotate(58deg);
        }
      }
      &--3 {
        height: 22px;
        width: 3px;
        background-color: $line-color;
        position: absolute;
        bottom: 115px;
        left: 130px;
        z-index: 2;
        transform: rotate(-7deg);
        &::before {
          content: '';
          display: block;
          height: 13px;
          width: 3px;
          background-color: $line-color;
          position: absolute;
          transform: translate(-75px, 25px) rotate(-38deg) translateX(-4px);
          z-index: 2;
        }
        &::after {
          content: '';
          display: block;
          height: 9px;
          width: 3px;
          background-color: $line-color;
          position: absolute;
          transform: translate(-90px, 56px) rotate(-55deg);
          z-index: 2;
        }
      }
    }
    &--hidden {
      height: 50px;
      width: 20px;
      background-color: $primary-color;
      position: absolute;
      bottom: 5px;
      left: 65px;
      z-index: 1;
      transform: rotate(30deg);
      &::before {
        content: '';
        display: block;
        height: 27px;
        width: 210px;
        background-color: $primary-color;
        position: absolute;
        bottom: -20px;
        right: 5px;
        z-index: 1;
        transform: rotate(-17deg) translateX(170px);
      }
      &::after {
        content: '';
        display: block;
        height: 35px;
        width: 210px;
        background-color: $primary-color;
        position: absolute;
        bottom: -25px;
        right: 5px;
        z-index: 1;
        transform: rotate(-17deg) translateX(-50px);
      }
      &--1 {
        height: 50px;
        width: 10px;
        background-color: $primary-color;
        position: absolute;
        bottom: 12px;
        left: 17px;
        z-index: 1;
        transform: rotate(15deg);
        &::before {
          content: '';
          display: block;
          height: 23px;
          width: 50px;
          background-color: $primary-color;
          position: absolute;
          bottom: 165px;
          left: 83px;
          z-index: 1;
          transform: rotate(-20deg) translateX(-40px) translateY(3px);
        }
        &::after {
          content: '';
          display: block;
          height: 200px;
          width: 40px;
          background-color: $primary-color;
          position: absolute;
          bottom: 10px;
          right: 0;
          z-index: 1;
          transform: rotate(-60deg) translateY(-70px);
        }
      }
      &--2 {
        height: 65px;
        width: 10px;
        background-color: $primary-color;
        position: absolute;
        bottom: 87px;
        left:  106px;
        z-index: 1;
        transform: rotate(73deg);
      }
    }
    &--reactor {
      height: 220px;
      width: 80px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      z-index: -100;
      overflow: hidden;
      &::after {
        content: '';
        display: block;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        position: absolute;
        background-color: $primary-color;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        box-shadow: -5px 0px 10px 0px #2FB1BC;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
        animation-name: postcombustion;
      }
      @-webkit-keyframes postcombustion {
        0%   {box-shadow: -5px 0px 10px 0px #2FB1BC;}
        50%  {box-shadow: -10px 0px 10px 0px #2FB1BC;}
        100% {box-shadow: -5px 0px 10px 0px #2FB1BC;}
      }
    }
  }
}

.star {
  height: 100%;
  width: 100%;
  position: absolute;
  &--1, &--2, &--3, &--4, &--5, &--6, &--7, &--8, &--9, &--10, &--11, &--12, &--13, &--14, &--15, &--16, &--17, &--18, &--19, &--20 {
    height: 3px;
    background-color: #fff;
    position: absolute;
    right: -200px;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-delay: .8s;
    animation-name: star;
    box-shadow: 0px 0px 30px #fff;
  }
  &--1 {  width: 130px; top: 50px;  animation-delay:  0s; }
  &--2 {  width: 150px; top: 100px; animation-delay: .1s; opacity: .5}
  &--3 {  width: 100px; top: 150px; animation-delay: .6s; }
  &--4 {  width: 180px; top: 200px; animation-delay: .8s; opacity: .3}
  &--5 {  width: 140px; top: 220px; animation-delay: .7s; }
  &--6 {  width: 190px; top: 270px; animation-delay: .5s; opacity: .6}
  &--7 {  width: 170px; top: 350px; animation-delay: .4s; }
  &--8 {  width: 160px; top: 400px; animation-delay: .8s; opacity: .2}
  &--9 {  width: 100px; top: 430px; animation-delay: .6s; }
  &--10 { width: 120px; top: 480px; animation-delay:  0s; opacity: .3}
  &--11 { width: 140px; top: 520px; animation-delay: .2s; }
  &--12 { width: 100px; top: 570px; animation-delay: .4s; opacity: .6}
  &--13 { width: 150px; top: 600px; animation-delay: .8s; }
  &--14 { width: 180px; top: 650px; animation-delay: .5s; opacity: .5}
  &--15 { width: 120px; top: 710px; animation-delay: .3s; }
  @-webkit-keyframes star {
    0%   {transform: translateX(100px)}
    100%  {transform: translateX(-3000px)}
  }
}
