{{ include('partials/header.twig') }}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium non eum magni similique dignissimos est officia cum iste pariatur. Ullam voluptate labore fuga praesentium, illo assumenda fugit? Voluptates, facere veritatis!</p>

<div>
    <a href="{{ path_for('promotions') }}">Promotions</a>
</div>
<div>
    <a href="{{ path_for('random_student') }}">Random student</a>
</div>

{{ include('partials/footer.twig') }}